.new_games {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.light {
  color: #000;
}
.dark {
  color: #fff;
}
.new_games h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.cards_games {  
  display: flex;
  gap: 2rem;
  width: 135%;
  height: 250px;
  padding-top: 1rem;
}
.new_games::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

.new_games::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}
