.trophy {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.trophy h3 {
  font-family: 'Gilroy';
  font-weight: 500;
}
.trophy_img {
  width: 37rem;
  height: 16rem;
  background-image: url('/public/assets/trophy-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 0px 0px 45px 45px;
}
.cup {
  filter: drop-shadow(0px 0px 5px #32fb00) drop-shadow(0px 0px 27px #32fb00)
    drop-shadow(0px 0px 94.5px #32fb00) drop-shadow(0px 0px 189px #32fb00)
    drop-shadow(0px 0px 324px #32fb00) drop-shadow(0px 0px 567px #32fb00);
  position: absolute;
  top: -2rem;
  right: -1.5rem;
  -webkit-filter: drop-shadow(0px 0px 5px #32fb00)
    drop-shadow(0px 0px 27px #32fb00);
}
.text {
  padding: 0 2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 45px 45px;
  opacity: 0.7;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      231% 135.8% at 0.9% 2.98%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  backdrop-filter: blur(5px);
}
.text h4 {
  color: #fff;
  font-family: 'Gilroy';
  font-weight: 800;
  text-transform: uppercase;
}
.text p {
  color: #fff;
  font-family: 'Gilroy';
  font-weight: 800;
  text-transform: uppercase;
}
