.theme {
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  padding: 17px 9px;
}
.theme_light {
  background: #c1c1c1;
}
.theme_dark {
  background: #515151;
}
